# RewriteEngine On
# RewriteCond %{HTTP_HOST} !^www\.avdveen\.nl$ [NC]
# RewriteRule ^(.*)$ https://www.avdveen.nl/$1 [R=301,L,NE]
# Header always set Content-Security-Policy "upgrade-insecure-requests;"

# RewriteEngine on
# RewriteCond %{HTTP_HOST} ^spshs.avdveen.nl
# RewriteRule ^(.*)$ /spshs/$1 [L,NC,QSA]
